.item {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-radius: 10px;
  //   box-shadow: var(--shadow-block);
  position: relative;
  flex: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item:hover {
  box-shadow: var(--shadow-around-min-block);
}

.item.loader::after {
  content: url('../../../../shared/assets/icon/load.svg');
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.item.success::after {
  content: url('../../../../shared/assets/icon/check.svg');
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
.item.false::after {
  content: url('../../../../shared/assets/icon/cross.svg');
  position: absolute;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}

.item.success {
  border: 2px solid var(--secondary-color);
}
.item.false {
  border: 2px solid var(--red-color);
}
.item.select {
  border: 2px solid var(--primary-color);
  box-shadow: 0px 0px 4px var(--primary-color);
}

.item.disable {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.item.disable:hover {
  box-shadow: none;
}
