.sidebar {
  width: var(--sidebar-width);
  background-color: var(--invert-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  justify-content: center;
  // load effect
  transition: all 0.5s ease;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
.logo {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.collaps {
  width: 0;
  overflow: hidden;
  // load effect
  left: -100%;

  // opacity: 0;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-height: 500px;
}

.itemsWrap {
}

.link {
  height: 50px;
  font-size: small;
  padding: 5px;
}
