.testTaskPack {
  width: 80%;
  max-width: 1000px;
  min-width: 500px;
  max-height: 600px;
  padding: 100px 50px 80px 50px;
  background-color: var(--invert-bg-color);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  overflow: auto;
}

.testTaskList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.testTaskBrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  background-color: var(--primary-color);
  color: var(--invert-bg-color);
  padding: 10px 25px;
  border-radius: 0 0 10px 10px;
}
