.navbar {
  height: var(--navbar-height);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  opacity: 1;

  // opacity: 1;

  // load effect
  transition: all 0.5s ease;
  position: fixed;
  // left: 50%;
  top: 0;
  // transform: translateX(-50%);
  z-index: var(--zIndex-navbar);
  width: 100vw;
  max-width: none;
}

.navbarStick {
  height: var(--navbar-height);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  opacity: 1;

  // opacity: 1;

  // load effect
  transition: all 0.5s ease;
  position: absolute;
  // left: 50%;
  top: 0;
  // transform: translateX(-50%);
  z-index: var(--zIndex-navbar);
  width: 100%;
  max-width: none;
}

.navbar.collaps {
  // width: 0;
  height: 0;
  overflow: hidden;

  // load effect
  top: -100%;
}

.position {
}

.name {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  transition: none;
  transition: all 0.3s ease;
  // transform: translateY(-300%);
}

.testData {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;
  transition: all 0.3s ease;
  justify-content: end;
  overflow: hidden;
  padding: 10px;
}

.btnCancel,
.time {
  // transform: translateY(-200%);
  opacity: 0;
  transition: all 0.3s ease;
}

.time {
  background-color: var(--invert-bg-color);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-around-block);
}

.btnCancel.show,
.time.show {
  // transform: translateY(0%);
  opacity: 1;
}

// APPLICANT

.btnExit {
  // margin-left: auto;
  height: 36px;
}

.navbarContent {
  max-width: calc(1280px - (2 * var(--sidebar-width)));
  width: 100%;
  margin: auto;
}
.name.close {
  transform: translateY(-300%);
}

.navbarContent.navbarAdmin {
  display: flex;
  justify-content: end;
  gap: 30px;
  align-items: center;
}

.navbar.navbarSticky {
  position: absolute;
}
