.navbar {
  width: 100%;
  height: var(--navbar-height);
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  opacity: 1;

  // opacity: 1;

  // load effect
  transition: all 0.5s ease;
  position: fixed;
  left: 50%;
  top: 0;
  width: 100%;
  transform: translateX(-50%);
  z-index: var(--zIndex-navbar);
}

.navbar.collaps {
  // width: 0;
  height: 0;
  overflow: hidden;

  // load effect
  top: -100%;
}

.position {
}

.name {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.testData {
  display: flex;
  gap: 20px;
  margin-left: auto;
  align-items: center;
  transition: all 0.3s ease;
  overflow: hidden;
  padding: 10px;
}

.btnCancel,
.time {
  // transform: translateY(-200%);
  opacity: 0;
  transition: all 0.3s ease;
}

.time {
  background-color: var(--invert-bg-color);
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow-around-block);
}

.btnCancel.show,
.time.show {
  // transform: translateY(0%);
  opacity: 1;
}

// APPLICANT

.btnExit {
  margin-left: auto;
}
